    <header class="jumbotron jumbotron-fluid rounded bg-#808080">
      <div class="container">
        <img src="/assets/images/LOADED.png" id="logoImg" class="img-fluid" alt="Loaded">
        <p class="lead">A logistic platform for tracking shipments.</p>
      </div>
    </header>