<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Loaded</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
<!-- JUMBOTRON -->
    <div class="jumbotron jumbotron-fluid rounded bg-success">
      <div class="container">
        <h1 class="display-4">Logo here!</h1>
        <p class="lead">Tag line Here!</p>
      </div>
    </div>

        <!-- Timeline -->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
          <div class="card-body">
            <p class="text-white m-0">timeline here</p>
          </div>
        </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Tracking</h2>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul></div>
<!-- FOOTER IF NEEDED -->
          <!-- <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">More Info</a>
          </div> -->
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Map</h2>
            <p class="card-text"></p>
            <img class="card-img-bottom" src="https://via.placeholder.com/540" alt="Card image cap">
          </div>
<!-- FOOTER IF NEEDED -->
          <!-- <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">More Info</a>
          </div> -->
        </div>
      </div>
    </div>
    <!-- /.row -->

  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-3 bg-success footer-fluid rounded">
    <div class="container">
      <p class="m-0 text-center text-black">Copyright &copy; GroupSeven 2020</p>
    </div>
    <!-- /.container -->
  </footer>


  {{!-- <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> --}}