body {
  padding-top: 56px;
}
  
  
#map {
  height: 100%;
  height: 50vh;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

#sidebar.active {
  margin-left: -190px;
}

#content {
  width: 100%;
}

/* navbar style */

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  color: #000000
}


#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: #808080;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #808080;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #808080;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #000000
}
#sidebar ul li a:hover {
  color: #808080;
  background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #808080;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #808080;
}

a {
  color: #fff !important;
  background-color: transparent;
  text-decoration: none;
}

footer {
  background: #808080 !important;
}